# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.envrc

# Environment variable & secrets
*.env
*.env.*

# Logs and DB
*.log
*.sqlite3
instance/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
